<div>
<pre>
service list of datas 
filtre de recheche  avec combineLatest 
pipe async
</pre>
</div>
<mat-form-field class="example-form-field">
    <mat-label>rechercher...</mat-label>
    <input matInput type="text" [formControl]="search">
  </mat-form-field>
  &nbsp;&nbsp;
<mat-button-toggle  (click)="update()">Go</mat-button-toggle>  
&nbsp;&nbsp;
<mat-button-toggle  (click)="update2()">Go2</mat-button-toggle>  
<div *ngFor="let item of filtered$ | async " >
    <pre>
        {{ item.id }}
        {{ item.userId }}
        {{ item.title  }}
        {{ item.body  }}
    </pre>
</div>


