html
  head
    title= 'Books'
    style
     include style.css

  body
    h1= 'Books'


    ul
        each val in method
            li 
              span(class='sb')= val.methode 
              span= " "+val.message + " --> " +val.route  